{
    "extends": "@istanbuljs/nyc-config-typescript",
    "all": true,
    "include": [
        "src/"
    ],
    "exclude": [
        "src/assets/",
        "src/events/",
        "src/plugins/",
        "src/commands/extras/",
        "src/commands/commands/"
    ]
}